table {
 width: 100%;
}

td.bottom_border{
  border-bottom: 2pt solid gray;
}

td.svg_holder {
  width: 1%;
  white-space: nowrap;
}

img {
  width: 55px;
  height: 55px;
}

td.time {
  text-align: right;
}

.body.facilitator {
  color: red;
}
