table {
 width: 100%;
}

td.bottom_border{
  border-bottom: 2pt solid gray;
}

td.img_holder {
  vertical-align: top;
  width: 1%;
  white-space: nowrap;
}

td.time {
  text-align: right;
}

.body.facilitator {
  color: red;
}

img.emoticon {
  height: auto;
  width: 80px;
}

table {
 width: 100%;
}

td.bottom_border{
  border-bottom: 2pt solid gray;
}

td.svg_holder {
  width: 1%;
  white-space: nowrap;
}

.answer.facilitator {
  color: red;
}

.whiteboard {
  width: 920px;
  height: 430px;
  border: solid 1px #ccc;
}
