<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Klzii Chat!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container-fluid">
      <header class="header"></header>
      <main role="main" id="main_container" class="hidden-xs hidden-sm"></main>
    </div>

    <div id="screen-too-small" class="visible-xs-block visible-sm-block">
      This site is not compatible with small window sizes.
    </div>

    <script type="text/javascript">
      <%= if Guardian.Plug.current_token(@conn) do %>
          localStorage.setItem('sessionMemberToken', "<%= Guardian.Plug.current_token(@conn) %>");
          localStorage.setItem('sessionId', "<%= @conn.assigns.session_id %>");
      <% end %>
      localStorage.setItem('csrf_token', "<%= get_csrf_token %>");
    </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>!function(){var e=document.createElement("script"),t=document.getElementsByTagName("script")[0];e.async=1,e.src="https://inlinemanual.com/embed/player.901881c0404c8cfa38ac155515053df9.js",e.charset="UTF-8",t.parentNode.insertBefore(e,t)}();</script>
  </body>
</html>
