<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Klzii Chat history</title>
    <link rel="stylesheet" type = "text/css" href="/css/reporting/bootstrap.min.css">
    <link rel="stylesheet" type = "text/css" href="/css/reporting/reporting.css">
    <script type="text/javascript" src="/js/reporting/snap.svg-min.js"></script>
  </head>

  <body>
    <div class='report-section'>
      <%= report_log_url%>
      <div class='text-center report-title'>
        <%= header_title(assigns) %>
      </div>
      <div class='report-topic'>
        TopicName
      </div>
      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
