<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cliizii Chat history</title>
      <link rel="stylesheet" type = "text/css" href="<%= path_to_js_css(assigns[:conn], "/css/reporting/bootstrap.min.css") %>">
      <link rel="stylesheet" type = "text/css" href="<%= path_to_js_css(assigns[:conn], "/css/reporting/reporting.css") %>">
      <script type="text/javascript" src="<%= path_to_js_css(assigns[:conn],"/js/reporting/promise.js") %>"></script>
      <script type="text/javascript" src="<%= path_to_js_css(assigns[:conn],"/js/reporting/svg.js") %>"></script>
      <script type="text/javascript" src="<%= path_to_js_css(assigns[:conn],"/js/reporting/whiteboard_report.js") %>"></script>
      <script type="text/javascript" src="<%= path_to_js_css(assigns[:conn],"/js/reporting/avatars.js") %>"></script>

  </head>

  <body>
    <div class='report-section'>
      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>

  <script type="text/javascript">
  if (window.state != "js-processing" ) {
    window.status = "js-done";
  }
  </script>
</html>
