<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Klzii Chat history</title>
      <link rel="stylesheet" type = "text/css" href="<%= path_to_js_css(assigns[:conn], "/css/reporting/bootstrap.min.css") %>">
      <link rel="stylesheet" type = "text/css" href="<%= path_to_js_css(assigns[:conn], "/css/reporting/reporting.css") %>">
      <script type="text/javascript" src="<%= path_to_js_css(assigns[:conn],"/js/reporting/snap.svg-min.js") %>"></script>
      <script type="text/javascript" src="<%= path_to_js_css(assigns[:conn],"/js/reporting/whiteboard_report.js") %>"></script>
      <script type="text/javascript" src="<%= path_to_js_css(assigns[:conn],"/js/reporting/avatars.js") %>"></script>
  </head>

  <body>
    <div class='report-section'>
      <div class='text-center report-header'>
        <span class='report-title'><%= @header_title %></span>
        <span class='pull-right report-logo'>
          <img class='img-responsive' src="<%= brand_logo_path(assigns[:conn], assigns.brand_logo) %>" />
        </span>
      </div>
      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
