<%= for session_topic <- @session_topics do %>
    <div class='remove-side-margin pull-right'>
    <%= render "messages.html", messages: session_topic.messages, conn: assigns[:conn], session: assigns[:session] %>
  </div>
<% end %>
