<%= for session_topic <- @session_topics do %>
<div class='session-topics-container'>
  <div class='report-topic'>
    <%= session_topic.name %>
  </div>

    <%= render "messages.html", messages: session_topic.messages, conn: assigns[:conn], session: assigns[:session] %>
    <hr/>
  </div>
<% end %>
