<div class="whiteboard-frame">
  <svg class="whiteboard" id="whiteboard<%= @session_topic.id %>">
  </svg>

</div>
<script>
  drawElements("whiteboard<%= @session_topic.id %>", <%= {:safe, Poison.encode!(@shapes)} %>);
</script>
