<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Klzii Chat history</title>
    <link rel="stylesheet" type = "text/css" href="<%= Path.expand("./web/static/css/reporting/reporting_styles.css") %>">
    <script type="text/javascript" src="<%= Path.expand("./web/static/js/reporting/snap.svg-min.js") %>"></script>
  </head>

  <body>
    <h3><%= @header %></h3>

    <%=
      html_table_from_template(%{messages: @messages, emoticon_parameters: @emoticon_parameters})
    %>

    <%=
      html_emoticon_script_from_template(%{emoticon_parameters: @emoticon_parameters})
    %>

  </body>
</html>
