<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Klzii Chat history</title>
    <link rel="stylesheet" type = "text/css" href="<%= Path.expand(".web/static/css/reporting/reporting.css") %>">
  </head>

  <body>
    <h3><%= @header %></h3>

    <table>
      <%= Enum.map(@topic_history, fn(%{body: body, emotion: emotion_id, session_member: %{username: name, id: id, role: role}, time: time}) ->
        emotion_svg_path = Path.expand("./web/static/assets/images/emotions/emoticon_#{emotion_id}_sprite.svg")
        """
        <tr>
          <td></td>
          <td class="bottom_border" colspan="2"></td>
        </tr>
        <tr>
          <td class="svg_holder" rowspan="2"><svg class="emotion" src="#{emotion_svg_path}" width="76" height="70" ></svg></td>
          <td class="name #{role}">#{name}</td>
          <td class="time #{role}">#{Ecto.DateTime.to_string(time)}</td>
        </tr>
        <tr>
          <td class="body #{role}" colspan="3">"#{body}"</td>
        </tr>
        """
      end) %>
    </table>
  </body>
</html>
