$message-facilitator: #FBE7E9
$message-participant: #F2F2F4
$icon-thumbs: green
$icon-star: #f0e935
$header-red: #e51D39
$font: #59595b
$green: #4cb649
$blue: #4cbfe9
$input-size: 1.5em

// Fonts
@import 'klzii_chatroom-ie7.css'
@import 'klzii_chatroom.css'
@import 'emotion-chat.sass'
@import 'emotion-avatar.sass'
@import 'helpers.sass'
@import 'inputs.sass'
@import 'buttons.sass'
@import 'modals.sass'
@import 'whiteboard.sass'
@import '../../../node_modules/medium-editor/dist/css/medium-editor.css'
@import '../../../node_modules/medium-editor/dist/css/themes/beagle.css'
@import 'dependencies/animate/animate.min.css'
@import 'dependencies/toastr/toastr.min.css'
@import 'util/loading.sass'
@import 'mobile.css'
@import '../../../node_modules/emoji-mart/css/emoji-mart.css'
@import 'emoji-picker.sass'
@import 'react-tel.sass'

body
  font-family: 'Source Sans Pro', Arial, sans-serif

.footer
  bottom: 50px
  right: 50%

.header-section
  z-index: 1060
  background: white
  padding: 20px 0
  @extend .dropshadow
  vertical-align: middle
  text-align: right
  position: relative
  .header-innerbox
    display: flex
    justify-content: space-between
  .topic-select-section
    float: left
    display: inline-block
    text-align: left
    .viewers-section
      vertical-align: middle
      font-size: 30px
      color: $header-red
      small
        font-size: 50%
    .topic-select-box
      order: 1
      .has-no-messages
        color: #f9f10d !important
      .session-name
        margin-top: 5px
      .dropdown-menu
        padding: 0
        margin: 0
        background-color: #369D32
        margin-left: 15px
        border: 0
        width: 200px
        li
          a
            color: white
            padding: 5px 0 5px 5px
            .pull-left
              margin-right: 2px
          &.active, &:hover, &:focus, &:active
            a
              background-color: #4CB648
      .unread-messages-section
        list-style: none
        padding: 0
        margin: 0
        padding-left: 2px
        display: inline-block
      .eye-section
        cursor: pointer
        color: $header-red
        font-size: 10px
        .icon-eye
          font-size: 25px
      .users-section
        cursor: pointer
        color: black
        font-size: 12px
        margin-left: 5px
        .fa
          font-size: 21px
          padding-right: 2px
      .topic-sign
        padding: 0px 10px
        max-width: 280px
        width: 280px
        display: inline-block
        color: #373737
        font-size: 18px
        vertical-align: top
        margin-top: 5px
        &.topic-landing
          background: url("/images/arrow-landing-topic.png")
          background-repeat: no-repeat
          background-position: left
          padding-left: 65px
          margin-left: 10px
          min-height: 34px
          background-size: 60px 30px
          @media (min-width: 1200px)
            padding-top: 20px
        @media (max-width: 1199px)
          margin-top: 4px
          max-width: 200px
          width: 200px
          font-size: 16px
        @media (max-width: 1119px)
          font-size: 15px
      .dropdown.btn-group
        vertical-align: top
        #topic-selector
          margin-left: 15px
          padding: 0px
          background-color: none
          border: none
          >div
            position: relative
            top: 0
            left: 0
          .btn-default
            color: white
            border-color: transparent
            max-height: 50px
            line-height: 2.5
            &.name
              width: 165px
              background-color: #4CB648
            &.dropcaret
              width: 36px
              background-color: #45AC43
  .resources-section
    order: 2
    vertical-align: middle
    @extend .lineup-icons
    @extend .lineup-icons.header
    ul.icons
      text-align: center
      li
        background-color: $header-red
  .links-section
    order: 3
    vertical-align: middle
    @extend .lineup-icons
    @extend .lineup-icons.header
    ul.icons
      text-align: center
      li
        min-width: 55px
        max-height: 55px
        span.log-out
          font-size: 20px
        .badge
          margin-top: -25px
          margin-left: -40px
          background-color: $header-red
        .icon-message.with-badge
          margin-left: -20px
  .logo-section
    line-height: 3
    order: 4
    max-width: 120px
    .img-responsive
      min-height: 55px
      max-height: 55px
      height: 55px
      width: auto
      max-width: 120px
      @media (max-width: 1199px)
        min-height: 50px
        max-height: 50px
        height: 50px
      @media (max-width: 1119px)
        min-height: 48px
        max-height: 48px
        height: 48px

.room-outerbox
  padding: 0 15px
  padding-top: 20px

.facilitator-section
  svg
    height: 160px
.room-section
  border: 2px solid
  padding-top: 1%
  .console-section
    @extend .lineup-icons
    margin-left: 20px
    ul.icons
      width: 100%
      li
        cursor: default
        &.active
          @extend .cursor-pointer
  .input-section
    .wider-border
      border-width: 2px
    .input-group-addon
      height: $scaled-chat-emotion-size
    .emotion-picker-section
      border: 0
      padding: 0
      background-color: inherit
      ul
        border: 1px solid #ccc
        left: -0.5px
        height: $scaled-chat-emotion-size + 1.5px
        padding: 0
        @extend .no-border-radius
        li
          display: inline-block
          a
            height: $scaled-chat-emotion-size
            width: $scaled-chat-emotion-size
            padding: 0
      .dropup
        width: $scaled-chat-emotion-size
        height: $scaled-chat-emotion-size
        margin-right: 25px
        #emotion-selector
          padding: 0
          border: 1px solid #ccc
    textarea
      resize: none
    .avatar-section
      display: none
      background-color: #fff
      padding: 0px
      border: 0px
      width: 80px
      svg
        width: 150px
        height: 160px
        transform: scale(0.5) translate(-37.5px, -37.5px)
        margin: -45px -95px -90px -45px
        cursor: pointer
        padding-top: 3px
        rect
          display: none
        text
          display: none
  .chat-section
    padding-bottom: 20px
    margin-top: 20px
    margin-bottom: 20px
    max-height: 550px
    .media-heading
      padding: 0px
    .action-section
      padding: 0px
    .message-section
      margin: 0
      >div
        display: table
        table-layout: fixed
        width: 100%
      .emotion-chat-section
        width: 55px
      .media-body
        width: auto
      .unread
        padding-left: 5px
        padding-right: 5px
        background-color: #669dd3 !important
        >.media-body
          >.media-heading
            .pull-left, .pull-right small
              color: #fff !important
          >.action-section i
            color: #fff !important
      .message-section
        margin-left: 55px
      .emotion-chat-section
        display: table-cell
        &.media-top.push-image
          padding-top: 13px
        &.media-bottom.push-image
          padding-bottom: 18px
      .heading-section
        span small
          color: grey
      .body-section
        border: 1px solid #ccc
        p
          margin: 5px -5px
      .body-section.facilitator
        background-color: $message-facilitator
      .body-section.participant
        background-color: $message-participant
      .action-section
        font-size: 20px
        .icon-thumbs-up.active
          color: $icon-thumbs
        .icon-star
          color: $icon-star
        i
          @extend .cursor-pointer
          &:hover
            opacity: 0.8
          small
            font-size: 15px
  .participants-section
    margin-left: 20px
    margin-top: 20px
    .avatar-even
      margin-top: -5%
    .avatar-odd
      margin-top: 10%
  .top-row
    display: flex
    .facilitator-section
      flex: 1
      display: flex
      max-width: 50%
      margin-bottom: 20px
      .say-section
        flex: 1
        vertical-align: top
        .outerbox
          display: flex
          .triangle
            margin-top: -10px
            vertical-align: top
            position: relative
            top: 2em
            width: 0
            height: 0
            border-style: solid
            border-width: 15px 15px 15px 0
            border-color: transparent $message-facilitator transparent transparent
            line-height: 0px
            _border-color: #000000 $message-facilitator #000000 #000000
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000')
          .innerbox
            flex: 1
            background-color: $message-facilitator
            min-height: 4em
            width: 15vw
            margin-right: 5px
            p
              margin: 2px 5px
              font-size: 18px

.type-forum
  .header-section
    padding-bottom: 15px
    .topic-select-section
      .topic-select-box
        @media (max-width: 1499px)
          margin-left: 8px
        .dropdown.btn-group
          #topic-selector
           margin-left: 0px
        .dropdown-menu
          margin-left: 0px
        .session-name
          margin-bottom: 5px
          margin-top: -10px
  .room-section-left
    width: 25%
    float: left
    text-align: center
    padding-bottom: 15px
    .aboutThisTopic
      margin: 0px -15px
      margin-top: calc(-1px - 4%)
      padding: 10px
      color: #fff
      margin-bottom: 15px
      font-size: 16px
      text-align: left
      padding-left: 8%
    .facilitator-section
      display: block
      max-width: 100%
      margin-bottom: 10px
      > div.div-inline-block
        display: block
      svg
        @media (max-width: 1199px)
          width: 13vw
          height: 14vw
      svg text.svg-avatar-topic
        display: none
      .outerbox
        display: block !important
        left: 0
        position: inherit
        .triangle
          left: 30px
          top: 2px !important
          border-width: 0 15px 15px 15px !important
          border-color: transparent transparent $message-facilitator transparent !important
          _border-color: #000000 #000000 $message-facilitator #000000 !important
          margin-right: -50px
        .innerbox
          width: 17vw !important
          @media (min-width: 768px)
            max-width: 360px
          @media (max-width: 1499px)
            width: 20vw !important
    .console-section
      @media (min-width: 768px)
        margin-left: 0px
        white-space: nowrap
        float: right
        position: relative
        left: -50%
        text-align: left
        ul
          list-style: none
          position: relative
          left: 50%
          li
           font-size: calc(10px + (100vw / 120))
           padding: calc(5px + (100vw / 400)) calc(0px + (100vw / 400))
      .icon-type-pinboard
        display: none
    .top-row
      display: block
  .room-section-right
    margin-left: 20px
    width: calc(75% - 20px)
    float: left
    .chat-section
      margin-top: 0px
      .message-section
        .emotion-chat-section
          @media (min-width: 768px)
            width: 85px
          .emotion-chat-avatar
            display: block !important
            svg
              padding-top: 3px
              rect
                display: none
              text
                display: none
          div:first-child
            display: none !important
    .input-section
      .avatar-section
        background-color: transparent
        @media (min-width: 768px)
          display: table-cell

@media (min-width: 1500px)
  .room-outerbox, .header-innerbox, .direct-message-modal
    width: 80%
  .direct-message-modal
    padding: 0 30px
  .room-outerbox
    margin: 0 auto 30px auto
  .header-innerbox
    margin: 0 auto

@media (min-width: 2000px)
  .room-outerbox, .header-innerbox, .direct-message-modal
    width: 1600px
  .direct-message-modal
    padding: 0 15px

@media (max-width: 1200px)
  .outerbox
    .innerbox
      p
        font-size: 14px !important

.toast-top-right
  top: 130px

.paginator
  text-align: center
  clear: both
  ul.pagination
    margin-bottom: 0px
    li
      a
        color: #2F9F69
    li.active
      a
        color: #fff
        background-color: #2F9F69
        border-color: #2F9F69
    li.unactive
      a
        color: #ddd
.chat-room-statistics
  .title
    display: inline-block
    margin-right: 25px
  .report-icon
    display: inline-block
.container-fluid
  width: 100vw
