.modal-content
  .modal-header
    .modal-title
      text-align: center
    .close
      float: left
    .add
      float: right
.modal-body
  display: inline-table
.alert:empty
  display: none
.chat-messages
  .combined-avatar
    width: 64px
    height: 64px
.combined-avatar
  width: 10em
  height:
  position: relative
  img
    position: absolute
    width: inherit
    height: inherit
#chat-app-container
  .resources
    .resource
      padding-right: 20px
      font-size: 20px
.participants-section
  margin-top: 15%
.star.active
  color: yellow
.chat-box
  height: 100%
.chat-messages
  overflow-y: scroll
  overflow-x: hidden
  height: 600px
