$message-facilitator: #FBE7E9
$message-participant: #F2F2F4
$icon-thumbs: green
$icon-star: #f0e935
$header-red: #e51D39
$font: #59595b
$green: #4cb649
$blue: #4cbfe9
$input-size: 1.5em

// Fonts
@import 'klzii_chatroom-ie7.css'
@import 'klzii_chatroom.css'
@import 'emotion-chat.sass'
@import 'emotion-avatar.sass'
@import 'helpers.sass'
@import 'inputs.sass'
@import 'modals.sass'
@import 'whiteboard_new.sass'
@import '../../../node_modules/medium-editor/dist/css/medium-editor.css'
@import '../../../node_modules/medium-editor/dist/css/themes/beagle.css'
@import 'dependencies/animate/animate.min.css'
@import 'dependencies/toastr/toastr.min.css'

#screen-too-small
  width: 50%
  border: 1px solid #ccc
  text-align: center
  margin: 18% auto 0 auto
  padding: 30px
  background-color: white

body
  font-family: 'Source Sans Pro', Arial, sans-serif

.footer
  position: absolute
  bottom: 50px
  right: 50%

.header-section
  width: 100%
  position: absolute
  z-index: 1060
  background: white
  padding: 20px 0
  @extend .dropshadow
  vertical-align: middle
  text-align: right
  .topic-select-section
    float: left
    display: inline-block
    text-align: left
    .viewers-section
      vertical-align: middle
      font-size: 30px
      color: $header-red
      small
        font-size: 50%
    .topic-select-box
      margin-left: 20px
      .dropdown-menu > li > a
        padding: 5px 0 5px 5px
        .pull-left
          margin-right: 2px
      .unread-messages-section
        list-style: none
        padding: 0
        padding-left: 2px
        margin: 0px
        vertical-align: middle
        display: inline-block
      .badge
        &.normal
          background-color: $header-red
        &.reply
          background-color: black
      #topic-selector
        padding: 0px
        background-color: none
        border: none
  .resources-section
    margin-left: 5%
    float: left
    vertical-align: middle
    display: inline-block
    @extend .lineup-icons
    @extend .lineup-icons.header
    ul.icons
      text-align: center
      li
        background-color: $header-red
  .links-section
    margin-right: 5%
    float: right
    vertical-align: middle
    display: inline-block
    @extend .lineup-icons
    @extend .lineup-icons.header
    ul.icons
      text-align: center
      li
        min-width: 55px
        .badge
          margin-top: -25px
          margin-left: -40px
          background-color: $header-red
        .icon-message.with-badge
          margin-left: -20px
  .logo-section
    line-height: 3
    float: right
    display: inline-block
    width: 7%
    img
      width: 100%

.room-outerbox
  padding: 0 15px
  padding-top: 130px
.room-section
  border: 2px solid
  padding-top: 1%
  .console-section
    @extend .lineup-icons
    margin-left: 20px
    ul.icons
      width: 100%
      li
        cursor: default
        &.active
          @extend .cursor-pointer
  .input-section
    .input-group-addon
      height: $scaled-chat-emotion-size
    .emotion-picker-section
      border: 0
      padding: 0
      background-color: inherit
      ul
        border: 1px solid #ccc
        left: -0.5px
        height: $scaled-chat-emotion-size + 1.5px
        padding: 0
        @extend .no-border-radius
        li
          display: inline-block
          a
            height: $scaled-chat-emotion-size
            width: $scaled-chat-emotion-size
            padding: 0
      .dropup
        width: $scaled-chat-emotion-size
        height: $scaled-chat-emotion-size
        margin-right: 25px
        #emotion-selector
          padding: 0
          border: 1px solid #ccc
    textarea
      resize: none
  .chat-section
    padding-bottom: 20px
    margin-top: 20px
    margin-bottom: 20px
    max-height: 550px
    .message-section
      margin: 0
      .emotion-chat-section
        display: table-cell
        &.media-top.push-image
          padding-top: 13px
        &.media-bottom.push-image
          padding-bottom: 18px
      .heading-section
        span small
          color: grey
      .body-section
        border: 1px solid #ccc
        p
          margin: 5px -5px
      .body-section.facilitator
        background-color: $message-facilitator
      .body-section.participant
        background-color: $message-participant
      .action-section
        font-size: 20px
        .icon-thumbs-up.active
          color: $icon-thumbs
        .icon-star
          color: $icon-star
        i
          @extend .cursor-pointer
          &:hover
            opacity: 0.8
          small
            font-size: 15px
  .participants-section
    margin-left: 20px
    .avatar-even
      margin-top: -5%
    .avatar-odd
      margin-top: 10%
  .top-row
    display: flex
    .facilitator-section
      flex: 1
      display: inline-block
      margin-bottom: 20px
      .say-section
        vertical-align: top
        display: inline-block
        .outerbox
          margin-left: -20px
          .triangle
            margin-top: -10px
            vertical-align: top
            position: relative
            top: 2em
            display: inline-block
            width: 0
            height: 0
            border-style: solid
            border-width: 15px 15px 15px 0
            border-color: transparent $message-facilitator transparent transparent
            line-height: 0px
            _border-color: #000000 $message-facilitator #000000 #000000
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000')
          .innerbox
            display: inline-block
            background-color: $message-facilitator
            min-height: 4em
            max-height: 17em
            width: 15vw
            p
              margin: 2px 5px
              font-size: 18px

@media (min-width: 1500px)
  .room-outerbox, .header-innerbox, .direct-message-modal
    width: 80%
  .direct-message-modal
    padding: 0 30px
  .room-outerbox
    margin: 0 auto 30px auto
  .header-innerbox
    margin: 0 auto

@media (min-width: 2000px)
  .room-outerbox, .header-innerbox, .direct-message-modal
    width: 1600px
  .direct-message-modal
    padding: 0 15px

@media (max-width: 992px)
  *[role="dialog"]
    visibility: hidden

@media (max-width: 1200px)
  .outerbox
    margin-left: -30px !important
    .innerbox
      width: 18vw !important
      p
        font-size: 14px !important

.toast-top-right
  top: 130px
