@media (min-width: 768px) {
  .mobile-side-menu {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .participants-section .col-md-3 {
    float:left;
    width: 25%;
    height: 125px;
  }

  .participants-section svg{
    width: 75%;
  }

  .media-heading {
    margin-bottom: 25px;
    margin-left: 27px;
  }

  .whiteboard-expand, #whiteboard-box, .pinboard-expand, #pinboard-box {
    margin-right: 10px;
  }

  .whiteboard-section.maximized, .pinboard-section.maximized {
    left: 0 !important;
  }

  .facilitator-section .outerbox {
    left:17%;
    position:absolute;
  }

  .modal-title {
    float: left;
    width: 74%;
  }

  .room-section .input-section .emotion-picker-section .dropup {
    width: 30px !important;
  }
}

@media (max-width: 1199px) {
  .console-section {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.header-innerbox-mobile, .icon-whiteboard-hide-mobile, .icon-pinboard-hide-mobile, .facilitator-name-mobile,
.emotion-chat-avatar {
  display:none !important;
}

#uploadMobileSource {
  display:none;
  position: absolute;
  width: 170px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-left: -190px;
  margin-top: -105px;
  z-index: 999;
}

#uploadMobileSource div {
  padding:15px;
  text-align: center;
  cursor: pointer;
  color: #34BDE8;
}

#uploadMobileSource div:first-child {
  border-bottom: 1px solid #ddd;
}

@media (max-width: 767px) {
  .type-forum .room-section-left {
    width: 100% !important;
    float: none !important;
    text-align: left !important;
    padding-bottom: 0px !important;
  }

  .type-forum .room-section-right {
    margin-left: 0px !important;
    width: 100% !important;
    float: none !important;
  }

  .header-innerbox, .inmplayer-launcher, .whiteboard-title, .footer, .whiteboard-section.minimized, .participants-section,
  .pinboard-title, .pinboard-section.minimized, .message-section .emotion-chat-section div:first-child {
    display:none !important;
  }

  .header-innerbox-mobile, .emotion-chat-avatar {
    display:block !important;
  }

  .role-facilitator > * {
    display:none !important;
  }

  .role-facilitator #small-screen{
    display:block !important;
  }

  .popover.top {
    margin-top:-25px !important;
  }

  .emotion-chat-avatar {
    height: 52px;
    width: 52px;
    margin-left: -1px;
  }

  .direct-message-modal .direct-message-section .messages-section .unread-separator hr {
    width: 33% !important;
  }

  .facilitator-name-mobile {
    display: block !important;
    height: auto !important;
    color: rgb(229, 30, 57);
  }

  #whiteboard-box.maximized, #pinboard-box.maximized {
    top: 0px !important;
    position: fixed !important;
    height: 100vh !important;
    padding: 0px;
    border-radius: 0px;
    padding-bottom: 124px;
    margin-top: 80px;
    z-index: 888;
    border: 0px !important;
  }

  #pinboard-box.maximized {
    padding-bottom: 80px;
    padding-top: 50px;
    background-color: #fff;
  }

  .popover-content{
    z-index:9999;
  }

  #whiteboard-box svg, #pinboard-box svg {
    border-radius: 0px;
    border: 0px;
  }

  #whiteboard-box svg {
    margin-left: -45vw;
    width: 145% !important;
    padding-top: 70px;
  }

  .room-outerbox {
    padding: 0px !important;
    margin: -40px -15px 0px -15px !important;
    padding-top: 46px !important;
  }

  .room-outerbox > div {
    overflow: hidden;
  }

  .room-section {
    border:0px !important;
    padding-top: 5px !important;
  }

  .room-section > div.row {
    overflow: hidden;
  }

  .room-section > div.row > .col-md-4 {
    height: 100vh;
    padding-bottom: 263px;
    margin-bottom: -263px;
  }

  .room-section > div.row > .col-md-12 {
    -webkit-box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    margin-bottom: -6px;
    min-height: 100px;
  }

  .chat-section {
    max-height: 100% !important;
    overflow-y: auto !important;
    padding-right: 15px;
    margin-right: -15px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 5px;
    margin-left: -5px;
  }

  body {
    background-color: #fff !important;
    padding-right: 0px !important;
  }

  #whiteboard-box .panel-buttons-section, {
    padding-left: 5px;
  }

  #whiteboard-box .panel-buttons-section {
    padding-left: 50% !important;
  }

  #whiteboard-box .panel-buttons-section div:first-child {
    margin-left: -165px;
  }

  .modal {
    top: 0px !important;
    overflow-y:auto;
    position: fixed !important;
    min-height:100vh;
    height:auto !important;
    background-color:#fff;
    z-index: 1045;
    padding-left:0px !important;
    bottom:auto !important;
    margin-top: 73px !important;
  }

  .modal-title {
    margin: 0px 70px;
    position: absolute;
    width: 100%;
    padding-right: 180px;
  }

  .modal-header .col-md-2 {
    padding: 0px !important;
  }

  .modal-dialog{
    padding: 0px !important;
    margin: 0px !important;
    position: relative;
    width: 100%;
  }

  .modal-content{
    border: 0px !important;
    box-shadow: none;
    height: 100vh;
  }

  .modal-backdrop {
    display:none;
  }

  .room-section .input-section .emotion-picker-section ul {
    left: 0px;
    height: 66px !important;
    padding: 5px !important;
  }

  .room-section .input-section .emotion-picker-section ul li {
    margin: 4px;
    border: 1px solid #ddd;
  }

  .header-section {
    padding-bottom: 5px !important;
  }

  .media-body .media-heading .pull-right small {
    color: #aaa !important;
  }

  .media-body .action-section {
    padding-right: 0px;
  }

  .media-body .action-section i {
    margin-left: 2px;
  }

  .media-body {
    min-height: 85px;
    height: 85px;
  }

  .room-section .chat-section .message-section .body-section {
    border: 0px !important;
    padding: 5px 15px;
    margin-left: 27px;
  }

  .facilitator-section {
    margin-bottom: 0px !important;
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
    border-bottom: 2px solid rgb(229, 30, 57);
  }

  .facilitator-section svg {
    height: 67px !important;
  }

  .facilitator-section svg text, .facilitator-section svg rect, .message-section svg text, .message-section svg rect {
    display:none;
  }

  .message-section svg {
    transform: scale(0.5) translate(-37.5px, -37.5px);
    margin-left: -20px !important;
    margin-top: -30px !important;
    padding-top: 0px !important;
    margin-bottom: -100px;
  }

  .facilitator-section .outerbox {
    left: 110px !important;
    background-color: #fff;
    z-index:666;
    width: calc(100vw - 85px) !important;
    font-weight: bold;
  }

  .facilitator-section .outerbox .innerbox {
    height: 64px !important;
    width: 100% !important;
  }

  .facilitator-section .outerbox .innerbox p {
    height: 40px;
    overflow: auto;
  }

  .facilitator-section .outerbox div {
    background-color: #fff !important;
    border:0px !important;
  }

  .room-section .input-section textarea, .direct-message-modal .direct-message-section .input-section textarea {
    max-height: 46px;
  }

  .room-section .input-section {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 44px;
  }

  .console-section {
    padding-left: 50%;
    position: absolute;
    top: 100vh;
    z-index: 777;
    margin-top: -184px;
  }

  .console-section ul {
    margin-left: -140px !important;
    white-space: nowrap;
  }

  .console-section i {
    font-size: 22px !important;
  }

  .console-section li {
    padding: 0px 2px 4px 1px !important;
    margin-right: 8px !important;
  }

  img.whiteboard-expand, img.pinboard-expand {
    display:none;
  }

  .modal-section .modal-content .modal-header .fa {
    width: 48px !important;
    height: 41px !important;
    padding: 8px !important;
  }

  .icon-whiteboard-hide-mobile, .icon-pinboard-hide-mobile {
    position: absolute;
    color: red;
    border: 2px solid red;
    margin-left: 10px;
    margin-top: 10px;
    width: 48px;
    height: 41px;
    padding: 8px;
    font-size: 20px;
    display:block !important;
    cursor:pointer;
    background-color: #fff;
  }

  .icon-pinboard-hide-mobile {
    margin-top: -50px;
  }

  .icon-whiteboard-hide-mobile:before, .icon-pinboard-hide-mobile:before {
    content: '\E80F';
  }

  .modal-section .modal-body .survey-answer-section > ul {
    overflow-y: auto;
    height: calc(100vh - 160px) !important;
  }

  .modal-section .modal-body .survey-answer-section .col-md-12 ul li {
    border: 1px solid #aaa !important;
    margin-top: 10px !important;
    border-radius: 0px !important;
    padding: 0px !important;
  }

  .modal-section .modal-body .survey-answer-section .col-md-12 ul li label {
    display: block !important;
    padding: 10px 15px !important;
    margin-bottom: 0px !important;
  }

  .direct-message-modal {
    overflow: hidden !important;
  }

  .direct-message-modal .modal-body {
    border-top: 2px solid #ddd;
  }

  .direct-message-modal .input-section {
    -webkit-box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2);
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -6px;
    padding: 10px 15px;
    min-height: 55px;
    position: relative;
  }

  .direct-message-modal .direct-message-section {
    height: 100vh;
    padding-bottom: 215px;
    margin-bottom: -215px;
  }

  .direct-message-modal .direct-message-section > div.col-md-12 {
    height: 100vh;
    padding-bottom: 215px;
    margin-bottom: -215px;
  }

  .direct-message-modal .messages-section {
    border: 0px !important;
    overflow-y:auto !important;
    max-height: 100% !important;
    overflow-y: auto !important;
    padding-right: 15px;
    margin: -15px -15px 0px -5px !important;
    padding-top: 5px;
    height:100vh;
  }

  .direct-message-modal .messages-section .message {
    margin-bottom: 10px;
  }

  .direct-message-modal .messages-section .message .info .header {
    float: none !important;
    display: flex !important;
  }

  .direct-message-modal .messages-section .message .info .header div {
    width: 50% !important;
    float: left !important;
  }

  .direct-message-modal .messages-section .message .info .header div:last-child {
    color: #aaa !important;
  }

  .direct-message-modal .messages-section .message .info .body {
    background-color: #F2F2F4 !important;
    padding: 10px !important;
    margin-top: -5px !important;
  }

  .direct-message-modal .messages-section .message .info .body.sender-role-facilitator {
    background-color: #FBE7E9 !important;
  }

  .direct-message-modal .messages-section .message .avatar {
    float: none !important;
    display: table-cell !important;
    vertical-align: bottom;
    max-width: 75px !important;
  }

  .direct-message-modal .messages-section .message .avatar svg {
    margin-bottom: -105px;
  }

  .direct-message-modal .messages-section .message .info {
    float: none !important;
    display: table-cell !important;
    vertical-align: top;
    width: 100%;
  }

  .mobile-side-menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 999;
    margin-top: 68px;
  }

  .mobile-side-menu .mobile-side-menu-bg {
    height: 100vh;
    width: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .5;
  }

  .mobile-side-menu .mobile-side-menu-content {
    height: 100vh;
    width: 70%;
    text-align: left;
    background-color: #fff;
    position: absolute;
    top: -1px;
    box-shadow: 4px 4px 5px rgba(0,0,0,.2);
    border-top: 1px solid #eee;
    overflow-y: auto;
    padding-bottom: 70px !important;
  }

  .mobile-side-menu .mobile-side-menu-topics {
    height: 100vh;
    width: 70%;
    text-align: left;
    background-color: #fff;
    position: absolute;
    top: 0px;
    z-index: 999;
  }

  .mobile-side-menu .mobile-side-menu-content ul, .mobile-side-menu .mobile-side-menu-topics ul {
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 999;
    position: relative;
    background-color: #fff;
    height: calc(100vh - 65px);
    overflow-y: scroll;
  }

  .mobile-side-menu .mobile-side-menu-content ul li, .mobile-side-menu .mobile-side-menu-topics ul li {
    border-bottom: 1px solid #eee;
    padding: 15px;
    cursor:pointer;
    padding-right: 35px;
  }

  .mobile-side-menu .mobile-side-menu-content ul li .fa {
    margin-right: 10px;
    color: #34BDE8;
    font-size: 18px;
    width: 20px;
  }

  .mobile-side-menu .mobile-side-menu-content ul li .fa.fa-angle-right {
    float: right;
    margin-right: -20px;
    font-weight: bold;
    color: #555;
    text-align: right;
  }

  .mobile-side-menu .mobile-side-menu-content .navbar-title {
    cursor: default;
    color: #777!important;
    font-size: 24px;
    padding: 16px 12px!important;
    display:block;
  }

  .mobile-side-menu .mobile-side-menu-content .navbar-avatar {
    text-align: center;
    cursor: default;
  }

  .mobile-side-menu .mobile-side-menu-content .navbar-avatar svg {
    cursor: pointer;
    margin-bottom: -15px;
  }

  .mobile-side-menu .mobile-side-menu-content .navbar-avatar svg text, .mobile-side-menu .mobile-side-menu-content .navbar-avatar svg rect {
    display:none;
  }

  .mobile-side-menu .navbar-back span {
    color: #e51D39;
    border: 2px solid #e51D39;
    font-size: 20px;
    width: 48px;
    height: 41px;
    padding: 8px;
    display:block;
  }

  .mobile-side-menu .mobile-side-menu-content .powered-by {
    text-align:center;
    width: 100%;
    bottom: 90px;
    z-index: 22;
    margin-top: 20px;
  }

  .mobile-side-menu .mobile-side-menu-content .powered-by a {
    text-decoration: underline;
    font-weight:bold;
    color: #444 !important;
  }

  .mobile-side-menu ul li .badge {
    background-color: #e51D39;
    float: right;
    margin-left: 5px;
  }

  .mobile-side-menu ul li .badge.reply {
    background-color: black;
  }

  .mobile-side-menu .mobile-side-menu-content ul li .badge.badge-messages-0 {
    display:none;
  }

  .customize-avatar-section .biizu-section {
    position: relative !important;
    display: block !important;
    width: auto !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    overflow-y: auto !important;
    padding-top: 15px !important;
    margin: -15px -30px -201px -30px !important;
    position: absolute !important;
    bottom: 200px;
    top: 0px;
    right: 15px;
    left: 15px;

  }

  .customize-avatar-section .elements-section {
    width: auto !important;
    margin-top: 25px !important;
    display: block;
    border: 0px !important;
    padding: 0px 5px !important;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 60px;
    position: absolute;
    right: 15px;
    left: 5px;
    top: 160px;
    height: auto !important;
  }

  .customize-avatar-section .preview-section {
    text-align: center;
    width: 100% !important;
    margin-top: -20px !important;
    display: block;
    border: 0px !important;
  }

  .customize-avatar-section .preview-section svg text, .customize-avatar-section .preview-section svg rect {
    display: none;
  }

  .customize-avatar-section .elements-section .row {

  }

  .customize-avatar-section .elements-section .row .col-md-3 {
    width: 150px;
    float: left;
  }

  .customize-avatar-section .elements-section .preview-images img {
    max-width: 100% !important;
  }

  .change-avatar-modal {
    width:auto !important;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: auto;
  }

  .customize-avatar-section {
    min-height: 340px;
    position: relative;
    height: calc(100vh - 172px);
    margin-bottom: 12px;
  }

  .customize-avatar-section .selection-section > div:last-child {
    float: none !important;
    margin-left: 50% !important;
    margin-top: 5px !important;
  }

  .customize-avatar-section .selection-section:last-child ul {
    margin-left: -100px !important;
    position:absolute;
  }

  .customize-avatar-section .selection-section {
    background-color: #F0E936;
    margin-left: -35px !important;
    width: 100vw !important;
    margin-bottom: -16px !important;
    height: 56px;
    position: absolute;
    display: block;
    bottom: 0px;
  }

  .customize-avatar-section .selection-section > div {
    display: block;
  }

  .customize-avatar-section .selection-section > div:first-child {
    position:absolute;
    width: 90vw;
    text-align: center;
    white-space: nowrap;
    top: calc(-100vh + 332px);
  }

  @media (max-height: 512px) {
    .customize-avatar-section .selection-section > div:first-child {
      top: -180px;
    }
  }

  .customize-avatar-section .selection-section > div:first-child > div > * {
    display: inline !important;
    width: 50% !important;
  }

  .customize-avatar-section .selection-section > div:first-child > div > label {
    width: 30% !important;
  }

  .customize-avatar-section .selection-section ul.icons li {
    opacity: 1 !important;
  }

  .customize-avatar-section .selection-section ul.icons li.active {
    background-color: #fff;
  }

  .modal-open .modal[allowscroll='true'] {
    min-height: 50vh;
    bottom: -3px !important;
    overflow-y: hidden;
  }

  .modal-open .modal[allowscroll='true'] .modal-content{
    height:auto !important;
  }

  .navbar-avatar.observer {
    display: none;
  }

  .type-forum .room-section-left .aboutThisTopic {
    display: none;
  }

  .type-forum .room-section-left .top-row {
    display: flex !important;
    margin-left: -15px;
    margin-right: -15px;
  }

  .type-forum .room-section-left .facilitator-section > div.div-inline-block {
    display: inline-block !important;
  }

  .type-forum .room-section-left .top-row .facilitator-section .say-section .outerbox {
    position: absolute !important;
    width: calc(100vw - 85px) !important;
    margin-left: -30px !important;
  }

  .type-forum .room-section-left .top-row .facilitator-section .say-section .outerbox .innerbox {
    width: 100% !important;
    margin-left: 50px;
  }

  .type-forum .room-section-left .facilitator-section svg {
    width: 150px !important;
  }

  .type-forum .room-section-right {
    height: calc(100vh - 152px);
  }

  .type-forum .room-section-right .chat-section {
    height: calc(100vh - 260px);
  }

  .type-forum .room-section-left .console-section {
    margin-top: -170px;
  }

  .type-forum .room-section-left #whiteboard-box.maximized {
    margin-top: 75px;
  }

  .type-forum .room-section-right .input-section {
    margin-top: 0px;
    padding-top: 55px;
    margin-left: -15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -15px;
    position: relative;
    -webkit-box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.2);
  }

  body.modal-open nav.header-section {
    margin-right: -15px !important;
    padding-right: 15px !important;
  }

  body.modal-open .header-innerbox-mobile {
    margin-right: -15px;
  }

  .modal-section .modal-body .uploads-console-section iframe {
    height: calc(100vh - 159px) !important;
  }

  #sessionExpireModal .modal-title {
    position: inherit;
    margin: 0px;
    padding: 0px;
  }

  .room-section .chat-section .message-section .message-section .media-body .message-section .body-section {
    clear: both;
  }
}

@media (max-width: 379px) {
  #whiteboard-box .panel-buttons-section {
    white-space:nowrap;
  }

  #whiteboard-box .panel-buttons-section button {
    padding: 4px 10px !important;
  }

  #whiteboard-box .panel-buttons-section div:first-child {
    margin-left: -135px;
  }
}

.header-innerbox-mobile .navbar-header .navbar-toggle {
  float: left;
  width: 47px;
  height: 47px;
  background: #fff;
  border: 2px solid #58595B !important;
  margin-bottom: 5px !important;
  border-radius: 0px;
  padding-left: 8px;
  margin-left: -5px;
}

.header-innerbox-mobile .navbar-header .navbar-toggle .icon-bar {
  background-color: #58595B!important;
  width: 28px;
  display: block;
  height: 2px;
  border-radius: 1px;
}

.header-innerbox-mobile .navbar-header .navbar-toggle .icon-bar+.icon-bar {
  margin-top: 6px;
}

.header-innerbox-mobile .navbar-header {
  margin: -18px 0px 0px 15px;
}

.header-innerbox-mobile .navbar-header .navbar-brand {
  margin-top: -7px;
  width: 100%;
  left: 0px;
  text-align: center;
  margin-left: -65px;
  margin-right: -50px;
}

.header-innerbox-mobile .navbar-header .navbar-brand img {
  float: none;
  display: inline-block;
  height: 47px;
}

.navbar-whiteboard {
  width: 47px;
  height: 47px;
  display: block;
  float: right;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 10px;
  padding: 11px;
}
@media (max-device-width: 767px) {
  body.modal-open {
      position: fixed;
  }
}

@media (max-device-width: 767px) and (orientation: portrait) {
  body {
    height: 100%;
    position: fixed;
  }

  .container-fluid, #chat-app-container, main#main_container, main#main_container > div, div.col-md-12.room-section, .room-section > div.row {
    height: 100%;
  }

  .room-section > div.row > .col-md-4 {
    height: calc(100% - 185px);
     padding-bottom: 0;
     margin-bottom: 0;
  }

  div.row.room-outerbox {
    height: calc(100% - 27px);
  }

  body.modal-open .fade.in.modal {
    height: calc(100% - 73px) !important;
    min-height: calc(100% - 73px) !important;
    overflow: hidden !important;
  }
  div.modal-section.direct-message-modal.modal-dialog {
    height: 100%;
  }

  body.modal-open .inmplayer-general {
    display: none;
  }

  div.modal-body {
    height: calc(100% - 71px) !important;
  }

  .direct-message-modal .direct-message-section .list-group {
    border-color: rgba(0, 0, 0, 0) !important;
  }

  div.modal-section.direct-message-modal.modal-dialog .modal-content{
    height: 100%;
    overflow: hidden !important;
  }

  .modal-dialog, .modal-content, .modal-section .modal-body .uploads-console-section {
    height: 100%;
  }

  .direct-message-modal .direct-message-section {
    height: 100% !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .direct-message-modal .input-section {
    bottom: 0;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    background: #ffffff;
  }

  .direct-message-modal .direct-message-section > div.col-md-12 {
    height: calc(100% - 36px) !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .room-section .console-section  {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .console-section {
    padding-left: 0;
    position: fixed;
    bottom: 55px;
    top: auto;
  }

  .room-section .console-section ul.icons {
    margin: 0 auto !important;
    display: table;
    width: auto !important;
  }

  div.inmplayer-launcher.inmplayer-launcher-topic.null {
    display: none !important;
  }

  .room-section {
    padding-top: 0 !important;
  }


  .mobile-side-menu {
    height: 100% !important;
  }

  .mobile-side-menu .mobile-side-menu-content {
    height: 100%;
  }

  .modal-section .modal-body .uploads-console-section iframe {
    height: 100% !important;
  }

  .input-section textarea.smallFont {
    font-size: 14px;
    padding: 8px;
    height: 46px;
  }

}

@media (max-height: 285px) {
  .type-forum .room-section-left .console-section {
    top: 115px !important;
    margin-top: 0px !important;
  }
}
