@media (max-width: 767px)
  .observer-list-modal
    width: 100%
    height: 100%
    padding: 10px
    .modal-header
      height: 100px
      .modal-title
        width: 100%
        clear: both
    .modal-body
      height: calc(100% - 180px) !important
      overflow-y: scroll
      .observer-section, .participants-container
        display: -webkit-box
        display: -moz-box
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        -webkit-flex-flow: row wrap
        flex-flow: row wrap
        justify-content: space-around
        .col-md-3
          padding: 0
          margin: 15px auto
          .icon-eye, .fa-users
            width: 150px
            height: 75px
            font-size: 75px
            margin: 10px auto
          .observer-name, .participant-name
            font-size: 12px
            width: 150px
    .modal-footer
        padding: 15px !important

.observer-list-modal
  .modal-footer
    border-top: none
  .observer-section .col-md-3
    text-align: center
    .icon-eye
      margin-top: -20px
      margin-left: -10px
      font-size: 150px
    .fa-users
      margin-top: 10px
      margin-left: -10px
      font-size: 76px
      color: #111
    .participant-name
      color: #111
      margin-bottom: 20px
      height: 30px
      line-height: 2
    .observer-name
      color: white
      height: 30px
      div
        border-radius: 2px
        height: inherit
        width: 80%
        margin: 0 auto
        line-height: 2
.reports-modal
  .download-section
    a, a:focus
      text-decoration: none
      color: inherit
      outline: none
    .fa
      font-size: 50px
  .reports-section
    .fa-exclamation
      padding-left: 8px
    .view-pdf
      .fa
        @extend .font-color-red
    .view-csv
      .fa
        @extend .font-color-green
    .view-txt
      .fa
        @extend .font-color-blue
.direct-message-modal
  $max-height-box: 600px
  width: 100%
  padding: 0 15px
  .direct-message-section
    .svg-avatar-label
      display: none
    .messages-section
      max-height: $max-height-box + 4
      border: 2px solid
      .fetcher-section
        margin-bottom: 10px
        .fa
          color: $header-red
        div
          border: 2px solid
          border-top: 0
          padding: 5px
          width: 25%
          margin: 0 auto
      .unread-separator
        hr
          width: 40%
          border: 1px solid
        .date
          line-height: 3
    .messages-section-empty
      border: 0px
    .list-group
      border: 2px solid
      overflow: auto
      max-height: $max-height-box + 4
      .list-group-item
        padding: 0
        border-right: 0
        border-left: 0
        border-top: 0
        margin-bottom: 0
        height: $scaled-avatar-emotion-size
        &:last-child
          border-bottom: 0
        &.selected
          color: #555
          text-decoration: none
          background-color: #f5f5f5
    .messages-section > .message, .list-group > .list-group-item
      .avatar
        transform: scale($avatar-emotion-half-scale) translate(-$scaled-avatar-emotion-size/2, -$scaled-avatar-emotion-size/2)
        float: left
        width: $scaled-avatar-emotion-size
        height: $scaled-avatar-emotion-size
      .info
        padding: 5px
        margin-left: $scaled-avatar-emotion-size
        height: $scaled-avatar-emotion-size
        .header
          float: left
          width: 100%
          padding-bottom: 10px
          .badge
            background-color: $header-red
            margin-right: 5px
        .body
          word-wrap: break-word
          p
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
        div
          padding: 0
      .message-state-read
        color: #797878
      .message-state-unread
        font-weight: bold
    .messages-section + .input-section
      margin-top: 15px
    .input-section
      .input-group
        @media (min-width: 768px)
          margin: 0px 15px
          padding-top: 15px
      textarea
        resize: none
.facilitator-board-modal
  .facilitator-board-section
    .input-box
      margin-left: 15px
      margin-right: 15px
      padding: 5px 25px 5px 10px
      border: 2px solid $green
.modal-section.change-avatar-modal
  width: 920px
  .customize-avatar-section
    padding: 0 20px
    @extend .lineup-icons
    ul.icons
      vertical-align: middle
      display: inline-block
      li
        padding: 5px 0
        &.active
          color: $blue
          border-color: $blue
    .selection-section
      width: 100%
      margin: 0 auto
      .form-group
        padding-top: 7px
        .control-label
            margin-right: 10px
    .biizu-section
      width: 100%
      margin: 0 auto 20px auto
      .preview-section, .elements-section
        border: 2px solid
        padding: 1%
      .preview-section
        width: 20%
        margin-right: 5%
      .elements-section
        vertical-align: top
        width: 75%
        .preview-images
          position: relative
          img
            max-width: 65%
            position: absolute
          img:last-child
            position: relative
        span
          padding-left: 22px
body.modal-open .fade.in.modal [class*="modal-section-confirm"]
  @media (max-device-width: 767px)
    height: auto !important
    min-height: 75px !important
    width: 250px
    margin: 10vh auto !important
    border: 1px solid #e5e5e5
    border-radius: 5%
body.modal-open
  nav.header-section
    margin-right: -31px
    padding-right: 16px
.modal-backdrop.fade.in, .modal.fade.in
  @media (min-width: 768px)
    margin-top: 100px !important
    @media (max-width: 1199px)
      margin-top: 96px !important
    @media (max-width: 1119px)
      margin-top: 94px !important
.modal-section-confirm
  .modal-content
    @media (min-device-width: 768px)
      border: 2px solid #4a9b72 !important
    height: inherit !important
  .modal-header
    .modal-title
      text-transform: none !important
      left: 0px
      @media (max-device-width: 767px)
        font-size: 16px
        margin: 0px auto !important
        padding: 10px !important
.modal-section
  margin-top: 130px
  .modal-backdrop
    z-index: 1000
  .modal-content
    @extend .no-border-radius
    border: 2px solid
    .modal-footer
      @media (max-device-width: 767px)
        border-style: none
        padding: 15px 0 0 0
        .cancel-button
          border-right: 1px solid #E5E5E5 !important
        .confirm-button
          border-right: none !important
        .cancel-button, .confirm-button
          margin: 0
          width: 50%
          text-align: center
          color: #6EACFF !important
          border-top: 1px solid #E5E5E5 !important
          border-bottom: none !important
          border-left: none !important
          font-size: 16px
      .centered-body-text
        text-align: center
        padding-bottom: 10px
        @media (max-device-width: 767px)
          font-size: 14px
      .cancel-button
        cursor: pointer
        color: $header-red
        border: 2px solid $header-red
        padding: 10px
      .confirm-button
        cursor: pointer
        color: $green
        border: 2px solid $green
        padding: 10px
      .confirm-button
        &:hover
          color: #fff
          background: $green !important
      .cancel-button
        &:hover
          color: #fff
          background: $header-red !important

    .modal-header
      .fa
        @extend .cursor-pointer
        padding: 10px
        font-size: 20px
        &.icon-reply
          color: $header-red
          border: 2px solid $header-red
          width: 52px
          height: 45px
        &.fa-check, &.fa-plus
          color: $green
          border: 2px solid $green
          width: 52px
          height: 45px
          text-align: center
        &.fa-check.disabled
          opacity: 0.7

      border: none
      .modal-title
        text-transform: capitalize
        text-align: center
        vertical-align: middle
  .modal-body
    .uploads-console-section
      a
        text-decoration: none !important
      text-align: center
      @extend .resource-types
      iframe
        height: 450px
      .icon-pdf
        font-size: 100px
    .survey-answer-section
      overflow: auto
      height: calc(100vh - 170px)
      ul li
        border: 0
        .row
          .col-md-6:first-child
            float: left
            padding: 5px
            padding-left: 30px
          .col-md-6.text-right
            float: right
            padding: 0px 30px 5px 5px
    .survey-create-section, .uploads-section
      @extend .no-border-radius
      .icon-pdf
        font-size: 25px
      img.youtube-preview
        max-height: 150px
      .gallery-section
        @extend .resource-types
        iframe, video, img.youtube-preview
          height: 120px
        .top-row
          display: flex
          justify-content: flex-end
        .resource-title
          padding-right: 5px
          overflow: hidden
          text-overflow: ellipsis
          line-height: 2
        .icon-pdf
          font-size: 10em
        label
          margin: 0px -10px -10px 0px
          font-weight: normal
        .row
          margin-right: -5px !important
      ul li
        border-left: none
        border-right: none
        &:first-child
          border-top: none
        .fa
          @extend .cursor-pointer
          font-size: $input-size
        @extend .resource-types
    .uploads-section
      a
        text-decoration: none !important
  ul.tab-section
    padding: 0 20px
    a, .active > a, .active > a:hover
      color: black
      @extend .no-border-radius
      background: white
      border: 2px solid
    li
      @extend .no-border-radius
      @extend .cursor-pointer
      padding: 0 10px
  &.survey-modal
    .modal-header
      border-bottom: 1px solid #ddd
    h2, h3
      margin-top: 10px
    h5
      font-size: 16px
      margin-top: 20px
    .survey-answer
     font-size: 16px
      

@media screen and (min-width: 768px)
  .reports-modal
    width: 900px

.modal-section .modal-body .uploads-section .gallery-section
  .col-md-4 .row:last-child
    text-align: center
    min-height: 120px
    img
      max-height: 120px
      max-width: 100%
      display: initial

#sessionExpireModal
  padding-top: 30vh
  opacity: 1
  background: rgba(0,0,0,0.5)
  z-index: 1059
  .modal-dialog
    .modal-content
      border-radius: 0px
