.room-section
  .top-row
    .whiteboard-section, .pinboard-section
      flex: 1
      max-width: 50%
      top: 0
      left: 0
      width: 950px
      height: 460px
      z-index: 5
      position: absolute
      background-color: #e1d8d8
      border: 1px solid #a4918b
      border-radius: 5px
      padding: 10px
      .inline-board-section
        width: 100%
        height: 100%
        background-color: white
        border: 1px solid #ffc973
        border-radius: 5px
        display: block
      .panel-buttons-section
        padding: 0
        margin: 0
        padding-top: 5px
        @extend #circleShapes
      &.maximized
        padding-bottom: 45px
        max-width: 950px
        left: 25%
      &.minimized
        height: 100%
        position: inherit
        .panel-buttons-section, .remove-button
          display: none
        #pinboard-svg
          @media (min-width: 768px)
            height: 21vw
          @media (min-width: 992px)
            height: 14vw
            max-height: 220px
      .whiteboard-title, .whiteboard-expand, .pinboard-title, .pinboard-expand
        position: absolute
        top: 0
        z-index: 10
      .whiteboard-expand, .pinboard-expand
        right: 3px
      #pinboard-svg
        background-image: url('/images/corkboard.png')
        background-size: 100% auto
        image
          position: sticky
    .pinboard-section.maximized
      padding-bottom: 10px
      @media (min-width: 992px)
        max-width: 950px
        left: calc((100vw - 950px) / 2)
      @media (min-width: 1500px)
        left: calc((100vw - 950px) / 4)
    .whiteboard-section.maximized
      @media (min-width: 768px)
        @media (max-width: 1020px)
          max-width: 95vw
          left: 1vw
      @media (min-width: 1021px)
        max-width: 950px
        left: calc((100vw - 950px) / 2)
      @media (min-width: 1500px)
        left: calc((100vw - 950px) / 4)


#circleShapes, #scribleShapes, #lineWidthShapes, #eraserShapes
  .btn.btn-default
    border-radius: 0
    margin-right: 5px
    &:last-child
      margin-right: 0px
    &.set-active
      background-color: orange
      border-color: #bbb
    &:focus
      outline: none

.room-section-left
  .top-row
    .whiteboard-section
      max-width: 950px
      margin-top: 70px
    .whiteboard-section.minimized
      .whiteboard-title
        top: auto
        left: 26px
        margin-top: -10px
      .whiteboard-expand
        top: auto
        right: 20px
        margin-top: -5px
    .whiteboard-section.maximized
      max-width: 265%
      left: 80%
      margin-top: 10px
      .whiteboard-title
        left: 10px
