.room-section
  .top-row
    .whiteboard-section, .pinboard-section
      flex: 1
      -webkit-flex: 1
      -webkit-box-flex: 1
      -moz-flex: 1
      -moz-box-flex: 1
      -ms-flex: 1
      max-width: 50%
      top: 0
      left: 0
      width: 950px
      height: auto
      z-index: 5
      position: absolute
      background-color: #e1d8d8
      border: 1px solid #a4918b
      border-radius: 5px
      padding: 10px
      .inline-board-section
        width: 100%

        left: 0
        top: 0
        background-color: white
        border: 1px solid #ffc973
        border-radius: 5px
        display: block
      .panel-buttons-section
        padding: 0
        margin: 0
        padding-top: 5px
        @extend #circleShapes
        @media (max-width: 767px)
          overflow-x: scroll
        .toolbar-section .btn
          float: none

      &.maximized
        max-width: 100%
        left: 25%
        #whiteboard-draw, #pinboard-svg
          height: auto
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
            height: 465px
      &.minimized
        height: 100%
        position: inherit
        #pinboard-svg
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
            height: 230px
        .panel-buttons-section, .remove-button
          display: none
        #pinboard-svg
          @media (min-width: 768px)
            height: 21vw
          @media (min-width: 992px)
            height: 14vw
            max-height: 220px
      .svg_select_points
        cursor: move
      .svg_select_points_rot
        stroke-width: 1
        stroke:black
        fill: gray
        cursor: nwse-resize
      .svg_select_boundingRect
        stroke-width: 1
        stroke-dasharray: 10 10
        stroke: black
        fill-opacity: 0
        pointer-events: none
      .whiteboard-title, .whiteboard-expand, .pinboard-title, .pinboard-expand
        position: absolute
        top: 0
        z-index: 10
      .whiteboard-expand, .pinboard-expand
        right: 3px
      #pinboard-svg
        background-image: url('/images/corkboard.jpg')
        background-size: 100% auto
        image
          position: sticky
    .pinboard-section.maximized
      padding-bottom: 10px
      width: 100%
      @media (min-width: 992px)
        max-width: 950px
        width: 100%
        left: calc((100vw - 950px) / 2)
      @media (min-width: 1500px)
        width: 100%
        left: calc((100vw - 950px) / 4)
    .whiteboard-section.maximized
      @media (min-width: 1500px)
        left: calc((100vw - 950px) / 4)
    .toolbar-section
      display: table
      margin: 0 auto

#circleShapes, #scribleShapes, #lineWidthShapes, #eraserShapes
  .btn.btn-default
    border-radius: 0
    margin-right: 5px
    &:last-child
      margin-right: 0px
    &.set-active
      background-color: orange
      border-color: #bbb
    &:focus
      outline: none

.room-section-left
  .top-row
    .whiteboard-section
      max-width: 100%
      margin-top: 15px
    .whiteboard-section.minimized
      display: -webkit-inline-box
      .whiteboard-title
        top: auto
        left: 26px
        margin-top: -10px
      .whiteboard-expand
        top: auto
        right: 20px
        margin-top: -5px
    .whiteboard-section.maximized
      max-width: 925px
      left: 80%
      margin-top: 10px
      .whiteboard-title
        left: 10px
      @media (min-width: 768px)
        @media (max-width: 1020px)
          max-width: 95vw
          left: 1vw
      @media (min-width: 1021px)
        max-width: 950px
        left: calc((100vw - 950px) / 2)
      @media (min-width: 1500px)
        left: calc((100vw - 950px) / 4)
#wb-buttons-width
  padding: 9px 12px

#whiteboard-box
  &.minimized
    svg
      cursor: auto
  &.maximized
    svg
      cursor: pointer
      text
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none

#wb-buttons-width + .dropdown-menu
  width: 47px
  min-width: 47px
  border-radius: 0
  padding: 0
  li > a
    padding: 3px 19px
  li.active > a
    background-color: orange

.full-height-width
  width: 100% !important
  height: 100%  !important

.whiteboard-section.minimized #whiteboard-draw > rect, .whiteboard-section.maximized #whiteboard-draw > rect
  pointer-events: none !important;

.whiteboard-section.maximized #whiteboard-draw.zooming > rect
  pointer-events: all !important;
