<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Klzii Chat history</title>
    <script src="<%= Path.absname("web/static/js/reporting/snap.svg-min.js", base_path) %>"></script>
    <link rel="stylesheet" href="<%= Path.absname("web/static/css/reporting/reporting.css", base_path) %>">
  </head>

  <body>
    <h3><%= session_name %> : <%= session_topic_name %></h3>

    <table>
      <%= Enum.map(topic_history, fn(%{body: body, session_member: %{username: name, id: id}, time: time}) ->
        """
        <tr>
          <td class="svg" rowspan="3"><svg class="svg" width="100" height="100"></svg></td>
          <td class="bottom_border" colspan="2"></td>
        </tr>
        <tr>
          <td class="name">#{name}</td>
          <td class="time">#{Ecto.DateTime.to_string(time)}</td>
        </tr>
        <tr>
          <td class="body" colspan="3">#{body}</td>
        </tr>
        """
      end) %>
    <table>

    <script>
      var s = Snap("svg");
      // Lets create big circle in the middle:
      var bigCircle = s.circle(50, 50, 25);
    </script>
  </body>
</html>
