<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Klzii Chat history</title>
    <script type="text/javascript" src="<%= Path.absname("web/static/js/reporting/snap.svg-min.js", base_path) %>"></script>
    <script type="text/javascript" src="<%= Path.absname("web/static/js/reporting/avatar.js", base_path) %>"></script>
    <link rel="stylesheet" type = "text/css" href="<%= Path.absname("web/static/css/reporting/reporting.css", base_path) %>">
  </head>

  <body>
    <h3><%= session_name %> : <%= session_topic_name %></h3>

    <table>
      <%= Enum.map(topic_history, fn(%{body: body, session_member: %{username: name, id: id, role: role}, time: time}) ->
        """
        <tr>
          <td class="svg" rowspan="3"><svg class="svg#{id}" width="100" height="100"></svg></td>
          <td class="bottom_border" colspan="2"></td>
        </tr>
        <tr>
          <td class="name #{role}">#{name}</td>
          <td class="time #{role}">#{Ecto.DateTime.to_string(time)}</td>
        </tr>
        <tr>
          <td class="body #{role}" colspan="3">#{body}</td>
        </tr>
        """
      end) %>
    </table>

    <script type="text/javascript">
      var sessionMembers = <%= Poison.encode!(session_members["participant"]) %>;
      sessionMembers.push(<%= Poison.encode!(session_members["facilitator"]) %>);
      sessionMembers.forEach(setAvatar);
    </script>

  </body>
</html>
